@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*------------------------------------------------
mixins
------------------------------------------------*/
/*------------------------------------------------
font
------------------------------------------------*/
/*---------------------------------------------
color
---------------------------------------------*/
/*---------------------------------------------
ease
---------------------------------------------*/
/*------------------------------------------------
media
------------------------------------------------*/
/*------------------------------------------------
functions
------------------------------------------------*/
/* vw ------------ */
/* minpx ------------ */
/* maxpx ------------ */
/* vw clammp ------------ */
:root {
  --fz: 10px;
  font-size: var(--fz);
}

body {
  background: #121212;
  color: #ffffff;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "游ゴシック", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

#main {
  overflow-x: clip;
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 1024px;
  }
}

/*------------------------------------------------
Header
------------------------------------------------*/
#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(0);
  opacity: 1;
  padding-inline: 50px;
  width: 100%;
  height: 70px;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  /* logo ------------ */
  /* menu ------------ */
  /* navigation ------------ */
}
#header.is-scrolled {
  transform: translateY(-100%);
  opacity: 0;
}
#header .header-logo__svg {
  width: 21px;
  height: auto;
}
#header .menu {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 16px;
}
#header .menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: top, transform, opacity, background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#header .menu__line:where(.is-active *) {
  background: #121212;
}
#header .menu__line:nth-child(1) {
  top: 0;
}
#header .menu__line:nth-child(1):where(.is-active *) {
  top: 7px;
  transform: rotate(30deg);
}
#header .menu__line:nth-child(2) {
  top: 7px;
}
#header .menu__line:nth-child(2):where(.is-active *) {
  opacity: 0;
}
#header .menu__line:nth-child(3) {
  top: 14px;
}
#header .menu__line:nth-child(3):where(.is-active *) {
  top: 7px;
  transform: rotate(-30deg);
}
#header .nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100svh;
  background: #b8b8b8;
  transition: opacity 1.2s cubic-bezier(0.19, 1, 0.22, 1), visibility 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
#header .nav.is-active {
  opacity: 1;
  visibility: visible;
}
#header .nav-vis {
  padding: 70px 0 70px 70px;
  width: 50%;
}
#header .nav-vis__img {
  border-radius: 32px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header .nav__in {
  display: grid;
  place-content: center;
  width: 50%;
}
#header .nav-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
#header .nav-list__link {
  display: inline-block;
  color: #121212;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15em;
  transition: opacity 0.2s ease-out;
}
@media (hover: hover) {
  #header .nav-list__link:hover {
    opacity: 0.3;
  }
}

/*------------------------------------------------
Footer
------------------------------------------------*/
#footer {
  padding-block: 200px;
  background: #212121;
  text-align: center;
  /* join us ------------ */
  /* sns  ------------ */
  /* copyright ------------ c*/
}
#footer .footer-join {
  display: block;
  overflow: hidden;
  margin-inline: auto;
  width: fit-content;
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15em;
}
@media (hover: hover) {
  #footer .footer-join:hover .footer-join__item {
    transform: translateY(-100%);
  }
}
#footer .footer-join__item {
  position: relative;
  display: inline-block;
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.1, 1);
}
#footer .footer-join__item:nth-child(1) {
  transition-delay: 0s;
}
#footer .footer-join__item:nth-child(2) {
  transition-delay: 0.03s;
}
#footer .footer-join__item:nth-child(3) {
  transition-delay: 0.06s;
}
#footer .footer-join__item:nth-child(4) {
  transition-delay: 0.09s;
}
#footer .footer-join__item:nth-child(5) {
  transition-delay: 0.12s;
}
#footer .footer-join__item:nth-child(6) {
  transition-delay: 0.15s;
}
#footer .footer-join__item:nth-child(7) {
  transition-delay: 0.18s;
}
#footer .footer-join__item::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  /*---------------- after */
}
#footer .footer-sns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}
#footer .footer-sns__link {
  width: 120px;
  font-size: 1.2rem;
}
#footer .footer__copyright {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.15em;
}

/*------------------------------------------------
Stalker
------------------------------------------------*/
.stalker {
  z-index: 2147483647;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: white;
  transition: opacity 0.3s ease-out, transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
.stalker.is-active {
  opacity: 1;
}
.stalker.is-hover {
  transform: scale(5);
}

/*------------------------------------------------
Button
------------------------------------------------*/
.btn {
  display: block;
  border-radius: 100vmax;
  border: 1px solid;
  padding-block: 4px;
  width: 152px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07em;
  text-align: center;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  /* white ------------ */
  /* black ------------ */
}
@media (hover: hover) {
  .btn:hover {
    background: transparent !important;
  }
}
.btn.btn--white {
  border-color: #ffffff;
  background: #ffffff;
  color: #121212;
}
@media (hover: hover) {
  .btn.btn--white:hover {
    color: #ffffff;
  }
}
.btn.btn--black {
  border-color: #121212;
  background: #121212;
  color: #ffffff;
}
@media (hover: hover) {
  .btn.btn--black:hover {
    color: #121212;
  }
}

/* PCの時に非表示にしたい要素に付けるクラス ------------ */
@media screen and (min-width: 768px) {
  .dn-w {
    display: none;
  }
}

/* SPの時に非表示にしたい要素に付けるクラス ------------ */
@media screen and (max-width: 767px) {
  .dn-n {
    display: none;
  }
}

.font-en {
  font-family: "Barlow", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "游ゴシック", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.fade {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}
.fade.scr-in--on {
  transform: translateY(0);
  opacity: 1;
}